@media (max-width: 600px) {
  #navbar {
    font-size: 16px;
    word-spacing: -1px;
  }
  .main-conteudo {
    margin-top: 1rem;
  }
  .main-titulo {
    width: 90%;
  }
  .main-titulo-principal {
    font-size: 18px;
  }
  .main-titulo-secundario {
    font-size: 10px;
    word-spacing: 1px;
    letter-spacing: -1px;
    font-family: "Poppins", sans-serif;
  }

  .ryan p {
    font-size: 14px;
  }
  .midia h2 {
    font-size: 25px;
  }
  .midia-imgs {
    flex-direction: row;
  }

  .midia-imgs img {
    max-width: 45px;
    border-radius: 10px;
  }
}
